* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.py text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.slurm text eol=lf
*.ps1 text eol=crlf

*.pdf binary
*.png binary
*.hdf5 binary
